[tools]
python = "3.12"

[env]
_.python.venv = ".venv"

[tasks.format]
description = "Format code using black and isort"
run = [
    "black .",
    "isort ."
]

[tasks.typecheck]
description = "Run mypy type checker"
run = "mypy ."

[tasks.validate]
description = "Validate code"
depends = ["format", "typecheck", "test"]

[tasks.test]
description = "Run tests with pytest"
run = "pytest"

[tasks.coverage]
description = "Run tests with coverage reporting"
run = [
    "pytest --cov=rss_glue --cov-report=html --cov-report=term",
    "open htmlcov/index.html"
]