<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}RSS Glue{% endblock %}</title>
</head>

<style>
    nav a {
        font-weight: bold;
        font-family: monospace;
        padding: 0 10px;
    }

    article {
        max-width: 600px;
    }

    article img {
        max-width: 100%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 2px 8px;
        text-align: left;
    }

    th {
        background-color: #f0f0f0;
    }
</style>

<body>
    <nav>
        <a href="/">Feeds</a> |
        <a href="/gallery">Gallery</a> |
        <a href="/update-history">Update History</a> |
        <a href="/config">Config</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>