<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        {{ css }}
    </style>
</head>

<body>
    <header>
        <a href="{{ origin_url }}">
            <h1>{{ title }}</h1>
        </a>
        <p>by {{ author }}</p>
    </header>
    <main>
        {{ content }}
    </main>
</body>

</html>