<!DOCTYPE html>
<html>

<head>
    <title>RSS Glue Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        {{ css }}
    </style>
</head>

<body>
    <main>
        <header>
            <h1>RSS Glue Index</h1>
        </header>
        <article>
            {{ content | safe }}
        </article>
    </main>
</body>

</html>