<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
    <head>
        <title>{{ title }}</title>
        <dateCreated>{{ date_created }}</dateCreated>
    </head>
    <body>
        <outline title="RSS Glue Feeds" text="RSS Glue Feeds">
            {{ content }}
        </outline>
    </body>
</opml>
