{% extends "base.html" %}
{% from "pagination.html" import render as render_pagination %}
{% block title %}Posts - RSS Glue{% endblock %}
{% block content %}
<h2>All Posts</h2>

<p>Showing {{ posts_data|length }} of {{ total_count }} total posts (source feeds only)</p>

{% if posts_data %}
<table border="1">
    <tr>
        <th>Feed</th>
        <th>Title</th>
        <th>Published</th>
        <th>Author</th>
    </tr>
    {% for item in posts_data %}
    <tr>
        <td>
            <a href="/feed/{{ item.feed.id }}/html">{{ item.feed.name }}</a>
        </td>
        <td>
            <a href="{{ item.post.link }}">{{ item.post.title }}</a>
        </td>
        <td>
            <span data-utc-time="{{ item.post.published_at.isoformat() }}" data-format="relative" title="{{ item.post.published_at | localtime('tooltip') }}">
                {{ item.post.published_at | localtime("relative") }}
            </span>
        </td>
        <td>
            {% if item.post.author %}
            {{ item.post.author }}
            {% else %}
            -
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{{ render_pagination("/posts", current_page, total_pages, has_prev, has_next, prev_page, next_page) }}

{% else %}
<p>No posts found. <a href="/">Update some feeds</a> to see posts here.</p>
{% endif %}

{% endblock %}
